<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhuanquanIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26E66D4B1EAF93A4007FDDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E66D641EAF93A4007FDDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E66D6F1EAF93A4007FDDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
